.transactionhistory {
  width: 520px;
  min-width: 300px;
  margin: 15px auto;
}

.th {
  background-color: cornflowerblue;
  color: aliceblue;
  
}
 .th, .td {
  width: calc(100%/3);
  padding: 5px;
  font-size: 18px;
 }

.td {
  text-align: center;
  border: 1px solid #ddd;
}